// Import for Open Sans
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

// Declarations for Charter fonts
@font-face {
    font-family: 'Charter';
    font-style: normal;
    font-weight: 400;
    src: url('https://www.suitedynamics.co/Fonts/Charter210112/WOFF2format/Charter/charter_regular.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Charter Bold';
    font-style: normal;
    font-weight: bolder;
    src: url('https://www.suitedynamics.co/Fonts/Charter210112/WOFF2format/Charter/charter_bold.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Charter Bold Italic';
    font-style: italic;
    font-weight: bolder;
    src: url('https://www.suitedynamics.co/Fonts/Charter210112/WOFF2format/Charter/charter_bold_italic.woff2') format('woff2');
    font-display: swap;
}

// Font size variables
//
// A scale of sizes has been defined for its use along the different elements of the theme.
// As it happens with many other sizing scales variables go from XS to XXXL
// Every size is relative to a base font size that may be modified. In that case all the other sizes will change in relationship to this new base size.
// With the exception of this base font size expressed in pixels, font sizes are expressed in rem units.
//
// $sc-font-size-xxs - Double extra small font size
// $sc-font-size-xs - Extra small font size
// $sc-font-size-s - Small font size
// $sc-font-size-m - Medium font size
// $sc-font-size-l - Large font size
// $sc-font-size-xl - Extra large font size
// $sc-font-size-xxl - Double extra large font size
// $sc-font-size-xxxl - Triple extra large font size
// $sc-font-weight-light - Light font weight
// $sc-font-weight-normal - Normal font weight
// $sc-font-weight-semibold - Semibold font weight
// $sc-font-weight-bold - Bold font weight
//
// Styleguide 1.2
$sc-font-size-base: 15px;
$sc-font-size-xxs: 0.75rem;
$sc-font-size-xs: 0.87rem;
$sc-font-size-s: 0.93rem;
$sc-font-size-m: 1rem;
$sc-font-size-l: 1.067rem;
$sc-font-size-xl: 1.2rem;
$sc-font-size-xxl: 1.47rem;
$sc-font-size-xxxl: 1.73rem;

// Font family
$sc-font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

$sc-font-open-sans: 'Open Sans', sans-serif;
$sc-font-charter: 'Charter', serif;
$sc-font-charter-bold: 'Charter Bold', serif;
$sc-font-charter-bold-italic: 'Charter Bold Italic', serif;

// Font weight
$sc-font-weight-light: 300;
$sc-font-weight-normal: 400;
$sc-font-weight-semibold: 600;
$sc-font-weight-bold: 700;

$sc-navigation-icon-size: 25px;
