/*
	Sass Application Entry Point
	Link all your sass dependencies in the right order

	Example:
	@import "other-sass-file.scss";
	@import "../../<other module>/Sass/other-sass-file.scss";
*/ 

.stitchpayments-info-card {
    @extend .info-card;
}

.stitchpayments-info-card-content {
    @extend .info-card-content;
    color: $sc-color-secondary;
    font-weight: bold;
}
.stitchpayments-iframe{
	position: inherit !important; 
}
.stitchpayments-body{
	left:10000px;
	position: relative;
	height: 200px;
}
.stitch-add-token-button{
	@extend .button-secondary;
}