/*
	Sass Application Entry Point
	Link all your sass dependencies in the right order

	Example:
	@import "other-sass-file.scss";
	@import "../../<other module>/Sass/other-sass-file.scss";
*/ 
$color--green: #7ac142;
$color--red: #db2323;
$curve: cubic-bezier(0.650, 0.000, 0.450, 1.000);


.stitchpayments-info-card {
    @extend .info-card;
}

.stitchpayments-info-card-content {
    @extend .info-card-content;
    color: $sc-color-secondary;
    font-weight: bold;
}

.stitchpayments-iframe{
	position: inherit !important; 
}

.stitchpayments-body{
	height: 200px;
}

.stitch-add-token-button{
	@extend .button-secondary;
  padding: $sc-margin-lv1;
}

.stitch-remove-token-button{
	@extend .button-secondary;
  padding: $sc-margin-lv1;
}

.stitch-payments-list-container{
  display: inline-flex;
}

.stitch-payments-buttons-container{
  display: flex;
}

.stitch-payments-add-container{
  margin-top: $sc-margin-lv2;
  float: left;
}

.stitch-payments-remove-container{
  margin-top: $sc-margin-lv2;
  margin-left: $sc-margin-lv2;
}
.stitch-success-checkmark-container {
  display: none;
  margin-left: $sc-margin-lv2;
  margin-top: $sc-margin-lv1;
}

.stitch-payments-dropdown {
  margin-bottom: 0px;
  display: inline-block;
  min-width: 100px;
}

.checkmark_success_circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: $color--green;
  fill: none;
  // animation: stroke .6s $curve forwards;
}

.stitch-success-checkmark {
  display: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  margin: 10% auto;
  box-shadow: inset 0px 0px 0px $color--green;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 0;
  stroke-dashoffset: 0;
  animation: stroke .3s $curve .8s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes scale {
  0%, 100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}

.stitch-success-checkmark{
  @keyframes fill-success {
    100% {
      box-shadow: inset 0px 0px 0px 30px $color--green;
    }
  }
}
.stitch-fail-checkmark{
  @keyframes fill-fail {
    100% {
      box-shadow: inset 0px 0px 0px 30px $color--green;
    }
  }
}
.stitch-fail-checkmark {
  display: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  margin: 10% auto;
  box-shadow: inset 0px 0px 0px $color--red;
}

.stitch-fail-checkmark-container {
  display: none;
  margin-left: $sc-margin-lv2;
  margin-top: $sc-margin-lv1;
}

.checkmark_fail_circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: $color--red;
  fill: none;
  // animation: stroke .6s $curve forwards;
}

.order-wizard-paymentmethod-selector-module-button{
  position: relative;
  max-width: 120px;
}

.order-wizard-paymentmethod-selector-module-button-img{
  pointer-events: none;
}

.stitch-removetoken-row{
  @extend .recordviews-row;
  
}
.stitch-removetoken-button{
  @extend .button-secondary;
  margin: $sc-margin-lv1;
  padding-left: $sc-padding-lv1;
  padding-right: $sc-padding-lv1;
}

.stitch-payments-add-token-container{
  margin-top: $sc-margin-lv2;
  float: left;
  bottom: 50px;
  position: relative;
}
.stitch-show-payments-img{
  max-width: 100px;
}
.stitch-token-success{
  display: none;
}