.header-logo {
	display: block;
	line-height: $sc-main-nav-height;
	height: $sc-main-nav-height;
	margin-left:-$sc-margin-lv2;

	@media (max-width: $screen-xs-min) {
		max-width: 100%;
	}

	@media (min-width: $screen-sm-min) {
		width: 100%;
		margin: 0;
	}
}

.header-logo-image {
	width: 240px;
	vertical-align: middle;
	max-width: unset !important;
	margin-top: -10px;

	@media (min-width: $screen-md-min) and (max-width: 1060px) {
		width: 185px;
		margin-top: -8px;
	}
}


